---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Iolatam - Página no encontrada" description="Empresa de servicios y soluciones TI, ofrecemos servicios de outsorcing y soporte TI para MYPES">
    <main class="grid min-h-full place-items-center mt-20  px-6 py-24 sm:py-32 lg:px-8 container mx-auto">
        <div class="text-center">
          <p class="text-2xl font-semibold text-gray-300">Error404</p>
          <h1 class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-5xl">Página no encontrada</h1>
          <p class="mt-6 text-xl leading-7 text-gray-300">Lo sentimos, no pudimos encontrar la página que estabas buscando.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="/" class="rounded-md bg-white px-3.5 py-2.5 text-base font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Ir al inicio</a>
            
          </div>
        </div>
      </main>
</Layout>

