---

---
<section class="container mx-auto text-white mt-20 md:mt-40">
    <div class=" mb-8 md:mb-20 text-center space-y-4">
        <span class="text-xl mb-2 before:inline-block before:w-12 before:h-[2px] before:mr-[10px] before:mb-[5px] before:bg-white">Testimonial</span>
        <h1 class="mb-3 text-3xl md:text-5xl font-semibold">Que dicen los clientes</h1>
        <p class=" text-lg md:text-xl leading-8 text-gray-300">Creemos en un estrecho trabajo en equipo entre Iolatam y nuestros clientes. </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 lg:grid-flow-col gap-8 lg:grid-rows-1 max-w-none mx-4 md:mx-0">
        <figure class=" lg:row-end-1 lg:col-start-2 col-span-2 rounded-2xl bg-[#1E2229]">
            <blockquote class=" p-12">
                <p>
                    “Desde que comenzamos a utilizar el servicio de soporte técnico de esta empresa, hemos experimentado una mejora significativa en la eficiencia y confiabilidad de nuestra infraestructura tecnológica. Su equipo de expertos no solo resuelve rápidamente cualquier problema que surja, sino que también nos brinda asesoramiento proactivo para optimizar nuestras operaciones. ”
                </p>
            </blockquote>
            <figcaption class=" items-center flex gap-x-4 py-4 px-6 border-t-[1px] border-gray-700">
                <img class=" w-10 h-10 block rounded-full" src="/testimonial/yovanag.jpg" alt=""/>
                <div>
                    <div>Yovana Gonzales</div>
                    <div>Gerente Yargo Internacional</div>
                </div>
            </figcaption>
        </figure>

        <div class="col-span-2 md:col-span-1  lg:contents">
            <div class=" row-span-2 space-y-8">
                <figure class=" p-6 rounded-2xl bg-[#1E2229]">
                    <blockquote class="">
                        <p>
                            "El servicio de soporte técnico de esta empresa ha mejorado significativamente nuestra eficiencia. Recomendado para quienes valoran la excelencia en el soporte."
                        </p>
                    </blockquote>
                    <figcaption class=" items-center flex mt-6 gap-x-4">
                        <img class=" w-10 h-10 block rounded-full" src="/testimonial/arturo.png" alt=""/>
                        <div>
                            <div>Arturo Gonzales</div>
                            <div>Gerente Argonsac</div>
                        </div>
                    </figcaption>
                </figure>
                <figure class=" p-6 rounded-2xl bg-[#1E2229] ">
                    <blockquote class="">
                        <p>
                            "Su atención personalizada y rápida respuesta han sido clave para mantener nuestras operaciones sin problemas. Un socio confiable para cualquier empresa."
                        </p>
                    </blockquote>
                    <figcaption class=" items-center flex mt-6 gap-x-4">
                        <img class=" w-10 h-10 block rounded-full" src="/testimonial/marian.jpg" alt=""/>
                        <div>
                            <div>Marian Buraschi</div>
                            <div>Gerente de Sostenibilidad</div>
                        </div>
                    </figcaption>
                </figure>
                
            </div>

            <div class=" row-start-1 mt-8 lg:mt-0 space-y-8">
                <figure class=" p-6 rounded-2xl bg-[#1E2229] ">
                    <blockquote class="">
                        <p>
                            "Su equipo nos brinda soluciones rápidas y efectivas, y nos ayuda a planificar proyectos de infraestructura. Un socio invaluable para nuestro departamento de TI."
                        </p>
                    </blockquote>
                    <figcaption class=" items-center flex mt-6 gap-x-4">
                        <img class=" w-10 h-10 block rounded-full" src="/testimonial/leonidas.png" alt=""/>
                        <div>
                            <div>Leonidas Hernandes</div>
                            <div>Adm. BGS Ingenieros</div>
                        </div>
                    </figcaption>
                </figure>
                
            </div>
        </div>
        <div class="col-span-2 md:col-span-1   lg:contents">
            <div class=" row-start-1 space-y-8">
                <figure class=" p-6 rounded-2xl bg-[#1E2229] ">
                    <blockquote class="">
                        <p>
                            "La confiabilidad y eficiencia del servicio nos brinda tranquilidad en un entorno empresarial competitivo. Fundamental para mantenernos enfocados en nuestro negocio principal."
                        </p>
                    </blockquote>
                    <figcaption class=" items-center flex mt-6 gap-x-4">
                        <img class=" w-10 h-10 block rounded-full" src="/testimonial/akemi.jpg" alt=""/>
                        <div>
                            <div>Akemi Tsuha</div>
                            <div>Gerente Tomyko Spa</div>
                        </div>
                    </figcaption>
                </figure>              
            </div>
            <div class=" row-span-2 mt-8 lg:mt-0 space-y-8">
                <figure class=" p-6 rounded-2xl bg-[#1E2229]">
                    <blockquote class="">
                        <p>
                            "Su colaboración nos ha permitido superar obstáculos técnicos de manera eficiente y cumplir con nuestros plazos de entrega. Estamos muy satisfechos con su servicio."
                        </p>
                    </blockquote>
                    <figcaption class=" items-center flex mt-6 gap-x-4">
                        <img class=" w-10 h-10 block rounded-full" src="/testimonial/lay.jpg" alt=""/>
                        <div>
                            <div>Jenny Lay</div>
                            <div>CEO Flor Lay & Asociados</div>
                        </div>
                    </figcaption>
                </figure>               
                
            </div>
        </div>
       

    </div>
</section>
<style>
    p{
     color: #D1D5DB;
     line-height: 1.75rem;
    }

  </style>