---
import Navbar from '../components/Navbar.astro';
import Footer from '../section/Footer.astro';
import SEO from '../components/SEO.astro';

// interface Props {
// 	description: string
// 	title: string
// }

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<SEO title={title} description={description}>
	</head>
	<body class=" bg-[#171717] font-ubuntu  ">
		<Navbar/>
		<slot />
		<Footer/>
	</body>
</html>