---
import Navbar from '../components/Navbar.astro';
import Footer from '../section/Footer.astro';
import SEO from '../components/SEO.astro';

interface Props {
	description: string
	title: string
	preloadImgLCP?: string
}

const { title, description, preloadImgLCP } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<SEO title={title} description={description} preloadImgLCP={preloadImgLCP}>
	</head>
	<body class=" bg-[#171717] font-ubuntu  ">
		<Navbar/>
		<slot />
		<Footer/>
	</body>
</html>