---
import Navbar from '../components/Navbar.astro';
import Footer from '../section/Footer.astro';
import SEO from '../components/SEO.astro';

interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<SEO title='' description='' preloadImgLCP=''>
	</head>
	<body class=" bg-[#171717] font-ubuntu  ">
		<Navbar/>
		<slot />
		<Footer/>
	</body>
</html>